body {
  background-color: #f7ede2;
  font-family: Lobster;
}
.header {
  background-color:#84a59d;
  border: 3px solid blue;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}
.menu {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 30%;
}

.rightHeading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.allProfileCards {
  display: grid;
  grid-template-columns: [first] 20% [line2] 20% [line3] 20% [line4] 20%[end];
  justify-content: space-evenly;
  gap: 1.50rem;
}

.profileCards {
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  align-items: center;
}

img {
 height: 46%;
 width: 100%;
 border-radius: 5%;
}

.share {
  height: 23%;
  width: 23%;
  border-radius: 100%;
}
.imageCard {
  background-image: url("./dog-picture.jpg");
  /* position: relative; */
  width: 100%;
  height: 92%;
}

  /* position: absolute; */
  /* top: 40px; left: 40px; */
